﻿@using Recipes.Models.Employee
@*
*@
@{
    ViewData["Title"] = "Edit Employee";
}

@model EmployeeViewModel

@if (User.Identity?.IsAuthenticated ?? false)
{
    <h2>Edit Employee</h2>

    <form method="post" asp-controller="Employees" asp-action="Edit" asp-route-id="@Model.Id">
        <p>
            <label>Name</label>
            <input type="text" name="Name" value="@Model.Name" />
        </p>

        <p>
            <label>Email</label>
            <input type="text" step="any" name="Ingredients" value="@Model.Email" />
        </p>

        <p>
            <label>Salary</label>
            <input type="number" name="Description" value="@Model.Salary" />
        </p>

        <p>
            <label>DateOfBirth</label>
            <input type="date" name="Description" value="@Model.DateOfBirth" />
        </p>

        <p>
            <label>Department</label>
            <input type="text" step="any" name="Ingredients" value="@Model.Department" />
        </p>

        <button type="submit">Edit</button>

        <button asp-controller="Employees" asp-action="Index">Cancel</button>
    </form>
}
else
{
    <h2 class="text-danger">You can't accesss this page if you aren't logged in.</h2>
}